.headerBar{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ff3333;
    color: #ffffff;
}
a:hover,a:visited,a:link,a:active{
    color: #ffffff;
    text-decoration: none;
}
.homepagePrompt{
    display: flex;
    justify-content: center;
}

.formAddress{
    /*Adjust margins of form here*/
    display: flex;
    justify-content: center;
    width: 100%
}

.homeInput{
    display: flex;
    justify-content: center;
}
.aboutPics{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}
.captions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px;
}