.headerBar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff3333;
  color: #ffffff;
}

.headerLink:hover {
  color: #000000;
  text-decoration: none;
}

.headerLink:visited,
.headerLink:link,
.headerLink:active {
  color: #ffffff;
  text-decoration: none;
}

html {
  background: #ffffff no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.homePage {
    background-color: #ffffff;
    background-size: cover;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.homeItem {
  text-align: center;
}

.formAddress {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aboutPage {
  background-color: #ffffff;
  background-size: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.aboutSections {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 20%;
  padding-right: 20%;
}

.aboutImage {
  width: 125pt;
  height: 165pt;
  align-items: center;
}

.aboutHeading {
  text-align: center;
  color: #ff3333;
  padding-top: 2%;
  padding-bottom: 1%;
}

.aboutName {
  text-align: center;
  font-size: 10pt;
  color: #0015bc;
  word-wrap: break-word;
  font-weight: bold;
}

.aboutSchool {
  text-align: center;
  font-size: 10pt;
  color: #0015bc;
  word-wrap: break-word;
  font-style: italic;
}

.aboutText {
  text-align: center;
  font-size: 20pt;
  color: #0015bc;
}

.infoPage {
  background-color: #ffffff;
  background-size: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.contactPage {
  background-color: #ffffff;
  background-size: cover;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.contactImage {
    width: 5%;
    height: 5%;
    justify-content: center;
    align-items: center;
}

.contactLink:hover,.contactLink:visited,.contactLink:link,.contactLink:active {
    color: #0015bc;
    font-size: 30pt;
    text-align: center;
}

.contactHeader {
    color: #ff3333;
    text-align: center;
}

.contactBody {
    color: #0015bc;
    font-size: 30pt;
    text-align: center;
}